/build/
/xcode/
/build-*/

.idea/
cmake-build-*/

.swiftpm/
.build/
xcuserdata/
DerivedData/
Package.resolved

/out/
/target/
Cargo.lock

.vs/
.vscode/
CMakeSettings.json

Thumbs.db
.DS_Store
*.exe
*.dll
*.metallibsym

*.fxb
/data/shaders/*.air

.ninja_log
